<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>

<!-- Proxy Settings to access haveibeenpwned.com API -->
<!--
  <system.net>
    <defaultProxy useDefaultCredentials="false">
      <proxy usesystemdefault="false" bypassonlocal="false" proxyaddress="http://meinproxy:8080" username="" password="" />
    </defaultProxy>
  </system.net>
-->

  <applicationSettings>
    <OPFService.Properties.Settings>
<!-- Connection to haveibeenpwned api https://haveibeenpwned.com/API/v3 (search by range) -->
      <setting name="PwnedPasswordsAPIEnabled" serializeAs="String">
        <value>False</value>
      </setting>

<!-- List of 100% matching passwords -->
      <setting name="OPFMatchPathEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OPFMatchPath" serializeAs="String">
        <value>C:\Program Files\OpenPasswordFilter\Data\opfmatch.txt</value>
      </setting>

<!-- List of passwords with defineable percentage, the percentage is the amount of characters the password must contain which are NOT in the list  -->
      <setting name="OPFContPathEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OPFContPath" serializeAs="String">
        <value>C:\Program Files\OpenPasswordFilter\Data\opfcont.txt</value>
      </setting>
      <setting name="OPFContPercentage" serializeAs="String">
        <value>60</value>

<!-- List of passwords with defineable percentage, the percentage is the amount of characters the password must contain which are NOT in the list  -->
      </setting>
      <setting name="OPFRegexPathEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OPFRegexPath" serializeAs="String">
        <value>C:\Program Files\OpenPasswordFilter\Data\opfregex.txt</value>
      </setting>

<!-- List of passwords with defineable percentage, the percentage is the amount of characters the password must contain which are NOT in the list  -->
      <setting name="OPFGroupPathEnabled" serializeAs="String">
        <value>True</value>
      </setting>

<!-- List of user groups where OpenPasswordFilter will process -> emtpy list, all users will be processed  -->
      <setting name="OPFGroupPath" serializeAs="String">
        <value>C:\Program Files\OpenPasswordFilter\Data\opfgroup.txt</value>
      </setting>

<!-- MSSQL password database (table PasswordList and Column Passwords) -->
      <setting name="PwnedLocalMSSQLDB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PwnedLocalMSSQLDBConnString" serializeAs="String">
        <value>Server=lp-opf.sdk.local;Database=OpenPasswordFilter;Integrated Security=SSPI;Encrypt=true;TrustServerCertificate=true</value>
      </setting>

<!-- MySQL password database (table PasswordList and Column Passwords) -->
      <setting name="PwnedLocalMySQLDB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PwnedLocalMySQLDBConnString" serializeAs="String">
        <value>Server=myServerAddress;Database=myDataBase;IntegratedSecurity=yes;Uid=auth_windows;SslMode=Required;UseCompression=True;</value>
      </setting>

<!-- Use SHA1 Hashes instead of plaintext Passwords in DB, usefull to use haveibeenpwned password db -->
      <setting name="PwnedLocalDbByHash" serializeAs="String">
        <value>True</value>
      </setting>

<!-- Active Directory User values which are used similar to OPFCont, only the listed are supported! -->
      <setting name="OPFActiveDirectoryEnabled" serializeAs="String">
        <value>True</value>
      </setting>
		<setting name="OPFActiveDirectoryProperties" serializeAs="Xml">
			<value>
				<ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
					<string>GivenName</string>
					<string>Surname</string>
					<string>SamAccountName</string>
					<string>EmailAddress</string>
					<string>DisplayName</string>
					<string>UserPrincipalName</string>
					<string>VoiceTelephoneNumber</string>
					<!-- 
					<string>Description</string>
					<string>EmployeeId</string>
					-->
				</ArrayOfString>
			</value>
      </setting>
      <setting name="OPFActiveDirectoryPropertiesPercentage" serializeAs="String">
        <value>60</value>
      </setting>

<!-- Port of the Service (must match with DLL reg entry) -->
      <setting name="Port" serializeAs="String">
        <value>5999</value>
      </setting>

<!-- Log Levels Verbose, Debug, Information, Warning, Error, Fatal. Debug includes passwords! -->
      <setting name="LogLevel" serializeAs="String">
        <value>Information</value>
      </setting>
    </OPFService.Properties.Settings>
  </applicationSettings>
</configuration>