<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OPFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <applicationSettings>
    <OPFService.Properties.Settings>
      <setting name="PwnedPasswordsAPIEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPFMatchPath" serializeAs="String">
        <value>c:\program files\OpenPasswordFilter\opfmatch.txt</value>
      </setting>
      <setting name="OPFContPath" serializeAs="String">
        <value>c:\program files\OpenPasswordFilter\opfcont.txt</value>
      </setting>
      <setting name="OPFRegexPath" serializeAs="String">
        <value>c:\program files\OpenPasswordFilter\opfregex.txt</value>
      </setting>
      <setting name="OPFGRoupPath" serializeAs="String">
        <value>c:\program files\OpenPasswordFilter\opfgroup.txt</value>
      </setting>
    </OPFService.Properties.Settings>
  </applicationSettings>
</configuration>
