<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OPFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true"/>
	</runtime>
	<applicationSettings>
		<OPFService.Properties.Settings>
   <setting name="PwnedPasswordsAPIEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OPFMatchPath" serializeAs="String">
    <value>D:\Dev\OpenPasswordFilter\Lists\opfmatch.txt</value>
   </setting>
   <setting name="OPFContPath" serializeAs="String">
    <value>D:\Dev\OpenPasswordFilter\Lists\opfcont.txt</value>
   </setting>
   <setting name="OPFRegexPath" serializeAs="String">
    <value>D:\Dev\OpenPasswordFilter\Lists\opfregex.txt</value>
   </setting>
   <setting name="OPFGroupPath" serializeAs="String">
    <value>D:\Dev\OpenPasswordFilter\Lists\opfgroup.txt</value>
   </setting>
   <setting name="PwnedLocalMySQLDB" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PwnedLocalMSSQLDB" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PwnedLocalMSSQLDBConnString" serializeAs="String">
    <value>Server=myServerAddress;Database=myDataBase;Integrated Security=SSPI;Encrypt=true</value>
   </setting>
   <setting name="OPFMatchPathEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OPFContPathEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OPFRegexPathEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OPFGroupPathEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PwnedLocalMySQLDBConnString" serializeAs="String">
    <value>Server=myServerAddress;Database=myDataBase;IntegratedSecurity=yes;Uid=auth_windows;SslMode=Required;UseCompression=True;</value>
   </setting>
   <setting name="OPFActiveDirectoryEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>5999</value>
   </setting>
   <setting name="LogLevel" serializeAs="String">
    <value>Information</value>
   </setting>
  </OPFService.Properties.Settings>
	</applicationSettings>
</configuration>
